.container {
    display: flex;
    flex-direction: row;
  }
  .users-address {
    text-align: center;
    color: brown;
    font-style: italic;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 0;
  }
  .textcontainer {
    height: 400px;
    width: 400px;
    background-color: rgb(238, 237, 232);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .text-input {
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
  }
  .text-button {
    background-color: rgb(102, 102, 242);
    margin-top: 10px;
    margin-right: 10px;
    color: black;
  }
  .text-form {
    display: flex;
    justify-content: space-between;
  }
  .reciever {
    margin-bottom: 20px;
  }
  .add-member {
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
  }
  .add-member-button {
    background-color: rgb(138, 232, 208);
    margin-top: 10px;
    margin-right: 10px;
    color: black;
  }
  .add-member-div {
    display: flex;
    justify-content: space-between;
  }
  .text-text {
    background-color: rgb(211, 245, 245);
    padding: 5px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    width: fit-content;
  }
  .members-side {
    margin-left: 7rem;
    margin-right: 4rem;
  }
  .members-title {
    background-color: aliceblue;
    padding: 10px;
  }
  .members-list {
    border-style: groove;
    background-color: rgb(207, 241, 241);
    width: 20rem;
    text-align: left;
    padding-left: 5px;
    text-align: center;
  }
  .members-desc {
    font-size: small;
  }
  .members-subtitle {
    font-weight: 600;
    text-align: center;
  }
  .group-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
  }
  .group-button {
      width: fit-content;
      background-color: azure;
  }
  .members-list:hover {
      cursor: pointer;
  }
  .new-member-1 {
    display: flex;
    justify-content:flex-start;
    padding: 10px;
    margin-top: 40px;
  }
  .new-member-2 {
    display: flex;
    justify-content:flex-start;
    padding: 10px;
    margin-top: 10px;
  }
  .member-input {
    margin-left: 10px;
    font-size: medium;
    width: fit-content;
    border-radius: 10px;
  }
  .add-button {
   margin-left: 10px;
   background-color: green;
   color: black;
  }
  .members-title:hover{
    cursor: pointer;
  }
  .to-address {
    text-align: center;
    color: rgb(70, 70, 240);
    font-weight: 500;
  }
 
  